<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-App="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as NarrowItDownCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="NarrowItDownCtrl.SearchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="NarrowItDownCtrl.SearchMenu();">Narrow It Down For Me!</button>
    </div>
    <div class="loader" ng-show="NarrowItDownCtrl.isLoading"></div>
    <found-items found="NarrowItDownCtrl.foundItems" error="NarrowItDownCtrl.ErrorMessage" on-remove="NarrowItDownCtrl.RemoveItem(index)"></found-items>
  </div>
   <script type="text/javascript" src="angular.min.js"></script>
   <script type="text/javascript" src="app.js"></script>
</body>
</html>
